/* Hero Section */
.hero-section {
  background-color: #043203;
  max-width: auto;
  height: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0.6rem 5.9rem;
  color: white;
}

.hero-text {
  width: 60%;
}

.hero-img {
  width: 40%;
}

.hero-text {
  width: 610px;
  flex-shrink: 0;
}

.hero-text h1 {
  width: 90%;
  margin-top: 2rem;
  font-size: 2.8rem;
  line-height: 1.2;
  text-align: justify;
}

.hero-text p {
  margin-top: 1.7rem;
  font-size: 1.1rem;
  line-height: 1.5;
  width: 90%;
  margin-bottom: 2.4rem;
  text-align: justify;
}

.hero-img img {
  height: 490px;
  max-width: 100%;
  width: 100%;
  margin-top: 2rem;
}

/* Portfolio Section */
.portfolio-section {
  background-color: #e0ffdf;
  height: 100%;
  padding: 3.8rem 5.9rem;
}

.first {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 2px solid red; */
}

.btn-3 {
  border: none;
  background-color: #001d00;
}

.text h3 {
  font-size: 1.8rem;
}

.text p {
  line-height: 1.5;
  font-size: 1.3rem;
}
/* 
.explore {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.explore-text p {
  margin-top: 1rem;
} */

.containers {
  margin: 3rem auto;
  display: flex;
  /* border: 1px solid black; */
  max-width: 100%;
  height: auto;
  justify-content: space-evenly;
  gap: 2rem;
}

.container {
  position: relative;
  background-color: #ffffff;
  padding: 1rem;
  line-height: 1.3;
  width: 32%;
  border-radius: 0.7rem;
}

.container .icons {
  padding: 0.5rem;
  border: 0.5rem solid #e0ffdf;
  border-radius: 50%;
  margin-bottom: 0.4rem;
}
.container .stroke {
  position: absolute;
  right: 0;
  top: 0;
}

.container span {
  color: #045103;
  font-size: 2.3rem;
  font-weight: bold;
}

.container p {
  color: #606060;
  font-size: 0.9rem;
  margin-bottom: 1.5rem;
}

/* Partners Section */

.partners-section {
  text-align: center;
  background-color: #ffffff;
  padding: 3.8rem 5.9rem;
}

.partners-section h3 {
  color: #101828;
  font-size: 2.3rem;
}

.partners-section p {
  color: #606060;
  font-size: 1.2rem;
  width: 100%;
}

.partner-logos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin-top: 2rem;
}

.partner-logos img {
  width: 100px;
  height: auto;
  transition: 0.3s ease, transform 0.3s ease;
}

.partner-logos img:hover {
  transform: scale(1.1);
}

/* Thesis Section */
.thesis-section {
  background-color: #1ea916;
  max-width: auto;
  max-height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 5.9rem 2rem;
  color: white;
}

.thesis-text {
  width: 57%;
}

.thesis-img {
  width: 40%;
  flex-shrink: 0;
}

/* .thesis-text {
  width: 610px;
} */

.thesis-text h3 {
  width: 90%;
  margin-top: 0.4rem;
  font-size: 2.8rem;
  line-height: 1.2;
}

.thesis-text p {
  margin-top: 1.7rem;
  font-size: 1.2rem;
  line-height: 1.5;
  width: 90%;
  margin-bottom: 2.4rem;
  text-align: justify;
}

.thesis-img img {
  /* height: 490px; */
  max-width: 90%;

  /* margin-top: 2rem; */
}

.btn-4 {
  color: #1ea916;
  font-size: 1rem;
}

/* Mission Section */

.mission-section {
  background-color: #e0ffdf;
  max-width: auto;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.4rem 8.2rem;
  color: white;
}

.mission-img {
  width: 40%;
}

.mission-text {
  width: 60%;
}

.mission-img img {
  width: 100%;
}

.mission-text {
  margin-left: 3rem;
}

.mission-text h3 {
  color: #000000;
  font-size: 2.2rem;
  /* margin-top: 3rem; */
}

.mission-text p {
  color: #475467;
  font-size: 1.2rem;
  line-height: 1.5;
  margin: 0.4rem 0 1rem 0;
  text-align: justify;
}

.mission-link {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  color: #1ea916;
}

.mission-link a {
  color: #1ea916;
  text-decoration: none;
}

/* NewsLeters Section */
.newsletter-section {
  padding: 5.6rem 5.9rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #045103;
  color: white;
}

.newsletter-text {
  width: 61%;
}

.newsletter-input {
  width: 39%;
}

.newsletter-text h3 {
  font-size: 1.7rem;
}

.newsletter-text p {
  margin-top: 0.6rem;
  font-size: 1rem;
  width: auto;
}

form {
  display: flex;
  gap: 1rem;
  width: 100%;
}

.form-input,
.form-btn {
  padding: 0.8rem;
  border: none;
  border-radius: 0.4rem;
}

.form-input {
  width: 70%;
  font-size: 1rem;
}

.form-btn {
  width: 30%;
  background-color: #d0fccf;
  font-size: 1rem;
  font-weight: bold;
  color: #344054;
}

.form-btn:active,
.form-input:focus {
  outline: none;
}

.form-btn:hover {
  background-color: #00a96e;
  cursor: pointer;
}
