/* Hero Section */
.partners-hero-section {
  background-image: url("../assets/images/header-background.png");
  background-repeat: no-repeat;
  /* background-position: center; */
  background-size: contain;
  background-size: auto;
  height: auto;
  padding: 0.6rem 5.9rem;
  color: white;
  text-align: center;
}

.partners-hero-section h1 {
  font-size: 3.5rem;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.partners-hero-section p {
  font-size: 1rem;
  width: 100%;
  margin-bottom: 2rem;
}

.partner-btns {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-bottom: 3rem;
}

/* Partners Section */
.partners-section {
  padding: 0.6rem 5.9rem 4.6rem;
}

.partners-section h2 {
  text-align: center;
  margin: 1rem 0 2rem 0;
  font-size: 2.5rem;
}

/* Partners Information */
.partners-information {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3.5rem;
  width: 100%;
}

.partners-information img {
  width: 100%;
}

.partners-information h3 {
  margin-top: 1rem;
  font-size: 1.5rem;
}

.partners-information p {
  width: 100%;
  font-size: 1rem;
  margin-top: 0.5rem;
}

.partners-link {
  margin-top: 1rem;
  color: #045103;
}

.partners-link a {
  text-decoration: none;
  color: #045103;
  font-size: 1rem;
  font-weight: bold;
}

@media (max-width: 1000px) {
}
